.mat-card {
  padding: 32px;
  .mat-card-header {
    display: block;
  }
  .mat-card-title,
  .mat-card-subtitle {
    text-align: center;
  }
  .mat-card-actions {
    .mat-raised-button {
        margin: 8px;
    }
  }
}
