<div class="landing">
  <app-parallax>
    <div class="call-to-action">
      <div class="call-to-action__mask"></div>
      <div class="call-to-action__text">
        legendary game with over <span class="accent">3000 years</span> history!
        Enhance your spatial reasoning, understanding of predictability and <span class="accent">strategizing</span>.
        Or just have <span class="accent">fun</span>. Log in to track your stats on <span class="accent">any gadget</span>!
      </div>
    </div>
  </app-parallax>

  <div class="main">
    <div class="title">tic tac toe</div>

    <div class="form-wrapper">
      <form [formGroup]="authForm" class="form">
        <div class="actions">
          <button [disabled]="!isLoginMode" (click)="changeAuthMode()">sign in</button>
          <button [disabled]="isLoginMode" (click)="changeAuthMode()">sign up</button>
        </div>
        <div class="inputs">
          <input placeholder="e-mail" formControlName="email" type="text">
          <input type="password" placeholder="password" formControlName="password">
        </div>
        <div class="join">
          <button (click)="tryAuth(authForm.value)">join</button>
        </div>
      </form>
    </div>
  </div>
</div>
