<div *ngIf="user" class="toolbar">
  <div class="container">
    <div class="account">
      <div><p>{{ user.name }} {{ user.email }}</p></div>
    </div>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf="user" class="container game">
  <pre class="statistics">{{ user.statistics | json }}</pre>

  <div *ngIf="!isPlaying" class="select-player">
    <p>Select a player</p>
    <div>
      <div class="select-player__player" (click)="choosePlayer(X_MARK)">X</div>
      <div class="select-player__player" (click)="choosePlayer(O_MARK)">O</div>
    </div>
  </div>

  <div *ngIf="isPlaying"
       class="field"
       [class.isLoading]="isLoading"
       [class.isGameOver]="isGameOver"
       [class.row1]="winnerLine === 'row1'"
       [class.row2]="winnerLine === 'row2'"
       [class.row3]="winnerLine === 'row3'"
       [class.col1]="winnerLine === 'col1'"
       [class.col2]="winnerLine === 'col2'"
       [class.col3]="winnerLine === 'col3'"
       [class.dia1]="winnerLine === 'dia1'"
       [class.dia2]="winnerLine === 'dia2'">
    <div *ngFor="let cell of gameModel; let i = index"
         class="cell"
         (click)="userStepHandler(i)">
      {{cell}}
    </div>
  </div>

  <div *ngIf="isResultShown">
    <button class="new-game"
            mat-raised-button
            (click)="resetGame()">
      New game
    </button>
  </div>
</div>
