@import "assets/toaster";

@font-face {
  font-family: 'Firs';
  src: url('/assets/TT Firs Black.otf');
}

@font-face {
  font-family: 'Ocras';
  src: url('/assets/OCRAStd.otf');
}

@font-face {
  font-family: 'Amateur';
  src: url('/assets/Amateur Naked.ttf');
}

html {
  &, & * {
    margin: 0;
    font-family: 'Ocras', sans-serif;
    &::selection {
      background-color: rgba(#16d462, 0.4);
    }
  }
}
